/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
  [hidden] {
    display: none!important;
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* Custom Styles */
  @font-face {
      font-family: 'GalanoGrotesq';
      src: url('/fonts/GalanoGrotesqueRegular.otf');
  }
  @font-face {
      font-family: 'GalanoGrotesqBold';
      src: url('/fonts/GalanoGrotesqueBold.otf');
  }
  @font-face {
      font-family: 'GalanoGrotesqBoldItalic';
      src: url('/fonts/GalanoGrotesqueBoldItalic.otf');
  }
  :root {
     --main-font: 'GalanoGrotesq';
     --font-bold:  'GalanoGrotesqBold';
     --font-bold-italic: 'GalanoGrotesqBoldItalic';
     --white: #FFF;
     --main-color: #f45567;
     --background-color-btn: #f19f85;
     --background-color-btn-hover: #ff8d5d;
     --text-shadow: #ab787d;
     --main-background-color: #fae5e7;
     --white-text: #fffbfb;
     --footer-bckgr-color: #e1839b;
     --right-hand-bckgrd: #f9d9cf;
     --border-input: #edabb3;
     --placeholder-text-color: #c0b2b4;
  }
  body {
    font-family: var(--main-font), sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--main-color);
  }
  main {
      max-width: 1330px;
      margin: 0 auto;
      padding: 0 1rem;      
  }

  figure > img,
  figure > iframe {
      max-width: 100%;
  }
  .bona-title-wrapper {
      padding: 1rem 0;      
  }  
  .bona-header-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: space-between;
      justify-content: space-between;
  }
  .bona-img-wrapper {
      width: 90px;
  }
  h1 {
      font-family: var(--font-bold-italic);
      font-size: 1rem;
      line-height: 1.2;
      width: calc( 94% - 90px );
      text-transform: uppercase;
  }
  .bona-secondary-banner {
    background-color: var(--background-color-btn);
    text-align: center;
  }  
  .bona-secondary-banner h2 {
      color: var(--white);
      font-size: 1rem;
      padding: 1rem 0;
      text-shadow: 3px 2px var(--text-shadow);
  }
  strong {
      font-family: var(--font-bold);
  }
  .bona-subsection,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    padding: 2rem 1rem;
  }
  @keyframes coverAnimation {
    from {opacity: 0; transform: translateY(-30%); z-index: -1}
    to {opacity: 1; transform: translateY(0%); z-index: 0;}
  }
  .bona-cover {
    width: 50%;
    margin: 0 auto 2rem;        
  }
  .bona-subsection:nth-child(1) .bona-cover {
    animation-name: coverAnimation;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
  }

  @media (prefers-reduced-motion) {
    .bona-cover {
      animation-name: dissolve;
    }
  }
  .bona-subsection button {
    background-color: var(--background-color-btn);
    color: var(--white-text);
    text-align: center;
    padding: 0.4rem 1rem;
    font-weight: 500;
    width: 12rem;
    margin: 0 0 1rem;
    border-radius: 0.3rem;
  }
  .bona-subsection button:hover, 
  .bona-subsection button:focus-visible {
    background-color: var(--background-color-btn-hover)
  }
  .bona-subsection h2 {
    font-family: var(--font-bold);
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .bona-subsection p {
    margin-bottom: 1rem;
  }
  .bona-text-centered {
    text-align: center;
  }
  .bona-section-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .bona-round-img {
    border-radius: 50%;
    border: 2px solid var(--main-color);
  }
  .bona-subsection:nth-child(1),
  .bona-subsection:nth-child(2) {
    background-color: var(--main-background-color);    
  }
  .bona-subsection:nth-child(3),
  .bona-subsection:nth-child(4),
  .bona-subsection:nth-child(5) {
    background-color: var(--right-hand-bckgrd);
  }
  .bona-map-wrapper iframe {
    object-fit: cover;
    border: 2px solid var(--border-input)!important;
    border-radius: 5px;
  }
  .bona-map-wrapper,
  .bona-share-position-wrapper {
    margin: 0 0 2rem;
  }
  .bona-share-position-wrapper button {
    width: auto;
    padding: 0.3rem 3rem;
  }
  form {
    width: 100%;
  }
  .bona-input-wrapper {
    text-align: center;
  }
  input {
    background-color: var(--white);
    padding: 0.3rem 0.6rem;
    border: 2px solid var(--border-input);
    border-radius: 5px;
    margin: 0 auto 1.5rem;
    width: 100%;
    text-align: left;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: var(--placeholder-text-color);
  }
  ::placeholder {
    color: var(--placeholder-text-color);;
  }
  .bona-localization-comp {
    width: 100%;
  }
  footer {
    background-color: var(--footer-bckgr-color);
  }
  footer h3 {
    font-family: var(--font-bold);
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 0 1rem;
  }
  footer p {
    color: var(--white);
  }
  @media (min-width: 768px) {
    .bona-secondary-banner {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: center;
        justify-content: space-around;
    }
    .bona-input-wrapper.half-width {
      width: 48%;
    }
    .bona-map-wrapper,
    .bona-localization-comp {
      width: 56%;
      margin: 0 auto 2rem;
    }
    #localizar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media (min-width: 1024px) {
    main {
      padding: 0;
    }
    .bona-title-wrapper {
        padding-bottom: 0;
        padding-left: 43%;
        background: url('/assets/headerimg.svg') no-repeat  center left;
        background-size: contain;
    }
    .bona-img-wrapper {
        width: 110px;
    }
    h1 {
        font-size: 1.5rem;
        width: calc( 96% - 110px );
    }
    header {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: flex-start;
        justify-items: center;
    }
    .bona-title-wrapper p {
      margin: 0 0 2rem;
    }
    .bona-actions {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
    }
    .bona-actions .bona-subsection {
      width: 50%;
    }
    .bona-map-wrapper, .bona-localization-comp, #retirar {
      width: 80%;
    }
    .bona-map-wrapper {
      margin-bottom: 3rem;
    }
    .bona-subsection, footer {
      padding: 3rem 1rem;
    }
    .bona-subsection h2 {
      font-size: 1.875rem;
      text-align: center;
    }
    .bona-subsection:not(:first-child) {
      position: relative;
    }
    .bona-subsection.bona-arrow-icon::before {
      content: "";
      display: block;
      width: 90px;
      height: 90px;
      background-color: var(--right-hand-bckgrd);
      transform: rotate(135deg);
      position: absolute;
      left: -45px;
      top: 20%;
    }
  }
  @media (min-width: 1300px) {
    .bona-img-wrapper {
      width: 135px;
    }
    h1 {
      font-size: 3.125rem;
    }
}